.login-container {
    display: grid;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    justify-items: stretch;
    margin-top: 200px

}
.login-container label{

    margin-bottom: 15px;
    display: block;
}
.login-container label span{
    display: block;
    width:100%;
    font-size:14px;
    margin: 0px 0px 8px;
  }
  .login-container label input{
    border:1px solid #ddd;
    padding: 4px 15px;
    border-radius: 4px;
    margin: 0px;
  }
  .login-container button{
    border-radius: 4px;
    margin: 0px;
    padding: 4px 15px;
  }